#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.previews-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.previews-container > * {
    flex: 1;
}

.controls-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
